#overlay {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:#000;
  opacity: 80%;
}

/*assign full width inputs*/
input[type=email],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login{
  font-family: 'Balsamiq Sans', cursive;
}

#id01{
  display: block;
  font-family: 'Balsamiq Sans', cursive;
  display: block;
  width: auto;
  height: auto;
  border-radius: 15px;
}
	/*set a style for the buttons*/
#login {
  background-color: #00132E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
	
	/* set a hover effect for the button*/
	#login:hover {
		opacity: 0.8;
	}
	
	
	/*centre the display image inside the container*/
	.imgcontainer {
		text-align: center;
/* 		margin: 4px 0 12px 0; */
		position: relative;
	}
	
	/*set image properties*/
	img.avatar {
		width: 20%;
/* 		border-radius: 100%; */
	}
	
	/*set padding to the container*/
	.container {
		padding: 16px;
	}
	
	/*set the forgot password text*/
	span.psw {
		float: right;
		padding-top: 16px;
	}
	
/* 	set the Modal background*/
	.modal {
		display: none;
		position: fixed;
		z-index: 3;
		left: 0;
		top: 0;
 		width: 100%;
 		height: 100%; 
 		overflow: auto; 
		padding-top: 60px;
	} 
	
	/*style the model content box*/
	.modal-content {
		background-color: #fefefe;
		margin: 5% auto 15% auto;
		border: 1px solid #888;
		width: 80%;
    font-family: 'Balsamiq Sans', cursive;
    border-radius: 15px;
	}
	
	
	/* add zoom animation*/
	.animate {
		-webkit-animation: animatezoom 0.6s;
		animation: animatezoom 0.6s
	}
	
	@-webkit-keyframes animatezoom {
		from {
			-webkit-transform: scale(0)
		}
		to {
			-webkit-transform: scale(1)
		}
	}
	
	@keyframes animatezoom {
		from {
			transform: scale(0)
		}
		to {
			transform: scale(1)
		}
	}
	
@media screen and (max-height: 360px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

@media screen and (max-width: 415px){
  img.avatar{
    width: 40%;
  }
}
@media screen and (max-height: 415px){
  @media screen and (orientation:landscape) {
  input[type=email],
input[type=password] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

	/*set a style for the buttons*/
#login {
  background-color: #00132E;
  color: white;
  padding: 14px 20px;
  margin: 1px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  bottom: 10px;
}
	
	/* set a hover effect for the button*/
	#login:hover {
		opacity: 0.8;
	}
	
	
	/*centre the display image inside the container*/
	.imgcontainer {
		text-align: center;
/* 		margin: 4px 0 12px 0; */
		position: relative;
	}
	
	
	/*set padding to the container*/
	.container {
		padding: 5px;
	}
		
/* 	set the Modal background*/
	.modal {
		display: none;
		position: fixed;
		z-index: 3;
		left: 0;
		top: 0;
 		width: 50%;
 		height: 50%; 
 		overflow: auto; 
		padding-top: 15px;
	} 
	
	/*style the model content box*/
	.modal-content {
		background-color: #fefefe;
		margin: 5% auto 15% auto;
		border: 1px solid #888;
		width: 50%;
    font-family: 'Balsamiq Sans', cursive;
    border-radius: 15px;
	}
 }
}

#successCheck{
  z-index: 10;
  position: fixed;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  overflow: hidden;
  border-radius: 50%;
}


